{% extends "Comptable/AccueilComptable.html.twig" %}
{% block title %}
Valider Fiche De Frais
{% endblock %}
{% block body %}
    <div style="width:80%; border-radius: 3em; margin: 2em auto 2em auto; background-color: #2591da;  ">
        <center>
            <form action="{{  path("ValiderFicheFrais") }}" method="post">
                <h1> Validation des frais par visiteur </h1>
                  <select class="selectpicker" name="visiteur" onchange="this.form.submit()">
                      <option value="null">---Veuillez selectionner un visiteur---</option>
                      {% for v in visiteurs %}
                          <option>{{ v.prenom }} {{ v.nom }}</option>
                      {% endfor %}
                  </select></br>
                  <p></p>
                  <label class="titre">Mois :</label> <input class="zone" type="text" name="dateValid" size="12" /></br>
                  <p></p>
                  <div style="margin:auto;"><h2>Frais au forfait </h2></div>
                  <p></p>
                  
                  <table style="color:white;" border="1">
			<tr><th>Repas midi</th><th>Nuitée </th><th>Etape</th><th>Km </th><th>Situation</th></tr>
			<tr align="center"><td width="80" ><input type="text" size="3" name="repas"/></td>
				<td width="80"><input type="text" size="3" name="nuitee"/></td> 
				<td width="80"> <input type="text" size="3" name="etape"/></td>
				<td width="80"> <input type="text" size="3" name="km" /></td>
				<td width="80"> 
					<select size="3" name="situ">
						<option value="E">Enregistré</option>
						<option value="V">Validé</option>
						<option value="R">Remboursé</option>
					</select></td>
				</tr>
		</table>
                  <p/><div style="margin:auto;"><h2>Hors Forfait</h2></div>
                  <table style="color:white;" border="1">
			<tr><th>Date</th><th>Libellé </th><th>Montant</th><th>Situation</th></tr>
			<tr align="center"><td width="100" ><input type="text" size="12" name="hfDate1"/></td>
				<td width="220"><input type="text" size="30" name="hfLib1"/></td> 
				<td width="90"> <input type="text" size="10" name="hfMont1"/></td>
				<td width="80"> 
					<select size="3" name="hfSitu1">
						<option value="E">Enregistré</option>
						<option value="V">Validé</option>
						<option value="R">Remboursé</option>
					</select></td>
				</tr>
		</table>
                  <div class="titre">Nb Justificatifs</div><input type="text" class="zone" size="4" name="hcMontant"/>	
                  <p></p>
		<p class="titre" /><label class="titre">&nbsp;</label><input class="zone"type="reset" /><input class="zone"type="submit" />
            

</div>

</html>
 </form>

        </center>
    </div>
    
{% endblock %}
